{
  "openapi": "3.1.0",
  "info": {
    "title": "pdfbin.net",
    "version": "1.0.0",
    "description": "Free CC0 PDF fixtures at stable flat URLs",
    "license": {
      "name": "CC0-1.0",
      "identifier": "CC0-1.0"
    }
  },
  "servers": [
    {
      "url": "https://pdfbin.net"
    }
  ],
  "paths": {
    "/acroform-empty.pdf": {
      "get": {
        "summary": "PDF with three empty AcroForm text fields (name, email, phone).",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/acroform-fully-filled.pdf": {
      "get": {
        "summary": "AcroForm with all three fields filled (name, email, phone).",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/acroform-partially-filled.pdf": {
      "get": {
        "summary": "AcroForm with the name field filled; email and phone left empty.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/aes128-owner.pdf": {
      "get": {
        "summary": "AES-128 (revision 4) with owner password only.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/aes128-user.pdf": {
      "get": {
        "summary": "AES-128 (revision 4) with user password.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/aes256-both.pdf": {
      "get": {
        "summary": "AES-256 with both owner and user passwords set distinctly.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/aes256-owner.pdf": {
      "get": {
        "summary": "AES-256 with owner password only. Open password is empty.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/aes256-user.pdf": {
      "get": {
        "summary": "AES-256 with user (open) password. Owner password also set.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/byte-flipped-mid-stream.pdf": {
      "get": {
        "summary": "One byte XOR-flipped mid-content-stream. Likely renders pages with garbage.",
        "tags": [
          "health:corrupt-byte-flipped",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-100-pages.pdf": {
      "get": {
        "summary": "Clean US Letter, 100 portrait pages.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-10mb.pdf": {
      "get": {
        "summary": "Clean US Letter PDF padded to approximately 10 MB via an attached random-bytes file (embedded-file feature).",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-1mb.pdf": {
      "get": {
        "summary": "Clean US Letter PDF padded to approximately 1 MB via an attached random-bytes file (embedded-file feature).",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-25mb.pdf": {
      "get": {
        "summary": "Clean US Letter PDF padded to approximately 25 MB via an attached random-bytes file (embedded-file feature).",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-500-pages.pdf": {
      "get": {
        "summary": "Clean US Letter, 500 portrait pages.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-50mb.pdf": {
      "get": {
        "summary": "Clean US Letter PDF padded to approximately 50 MB via an attached random-bytes file (embedded-file feature).",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-a4-1page.pdf": {
      "get": {
        "summary": "Clean DIN A4 (210x297mm), single portrait page, body text.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-a4-3page.pdf": {
      "get": {
        "summary": "Clean DIN A4, three portrait pages.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-jis-b5-1page.pdf": {
      "get": {
        "summary": "Clean JIS B5 (182x257mm) - not ISO B5. Single portrait page.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-letter-1page.pdf": {
      "get": {
        "summary": "Clean US Letter (8.5x11in), single portrait page, body text.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-letter-3page.pdf": {
      "get": {
        "summary": "Clean US Letter, three portrait pages.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-mixed-orientation.pdf": {
      "get": {
        "summary": "US Letter, alternating portrait and landscape across 5 pages.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-paper-sizes-mixed.pdf": {
      "get": {
        "summary": "Mixed paper sizes: A4, US Letter, and JIS B5 in one document.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/eof-missing.pdf": {
      "get": {
        "summary": "%%EOF marker stripped. Parsers that key on it cannot find the end.",
        "tags": [
          "health:corrupt-eof-missing",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/header-truncated.pdf": {
      "get": {
        "summary": "First line (%PDF-1.7) removed. Parsers that key on the header fail to detect a PDF.",
        "tags": [
          "health:corrupt-header-truncated",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/object-generation-mismatch.pdf": {
      "get": {
        "summary": "First object's header says generation 1; xref says generation 0.",
        "tags": [
          "health:corrupt-object-generation-mismatch",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/pdf-1.4-clean.pdf": {
      "get": {
        "summary": "Clean PDF saved targeting spec version 1.4.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.4"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/pdf-1.7-clean.pdf": {
      "get": {
        "summary": "Clean PDF saved targeting spec version 1.7.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/pdf-2.0-clean.pdf": {
      "get": {
        "summary": "Clean PDF saved targeting spec version 2.0.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-2.0"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/pdfa-1a-compliant.pdf": {
      "get": {
        "summary": "PDF/A-1A compliant document (accessible / tagged variant of -1B).",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF/A-1A"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/pdfa-1b-compliant.pdf": {
      "get": {
        "summary": "PDF/A-1B compliant document (visual appearance preserved).",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF/A-1B"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/pdfa-2b-compliant.pdf": {
      "get": {
        "summary": "PDF/A-2B compliant document (PDF 1.7 features allowed).",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF/A-2B"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/pdfa-3b-with-attachment.pdf": {
      "get": {
        "summary": "PDF/A-3B with an embedded plain-text attachment - the headline PDF/A-3 feature.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF/A-3B"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/rc4-128-owner.pdf": {
      "get": {
        "summary": "Legacy RC4-128 (revision 3) with owner password only.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/rc4-40-owner.pdf": {
      "get": {
        "summary": "Legacy RC4-40 (revision 2) - common in older documents.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/scanned-clean-200dpi.pdf": {
      "get": {
        "summary": "Clean 200 DPI scan of a generic Letter PDF.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:scanned-clean",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/scanned-clean-300dpi.pdf": {
      "get": {
        "summary": "Clean 300 DPI scan of a generic Letter PDF.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:scanned-clean",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/scanned-noisy-300dpi.pdf": {
      "get": {
        "summary": "Noisy 300 DPI scan with high-density speckle noise.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:scanned-noisy",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/scanned-skewed-3deg.pdf": {
      "get": {
        "summary": "Clean 300 DPI scan rotated 3 degrees.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:scanned-skewed",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/scanned-skewed-noisy.pdf": {
      "get": {
        "summary": "Noisy 3-degree skewed 300 DPI scan - hardest realistic case.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:scanned-noisy-skewed",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/stream-length-mismatch.pdf": {
      "get": {
        "summary": "One stream object's /Length is overstated by 99 bytes.",
        "tags": [
          "health:corrupt-stream-length-mismatch",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/trailer-missing.pdf": {
      "get": {
        "summary": "Trailer dictionary removed; startxref present but points to nothing useful.",
        "tags": [
          "health:corrupt-trailer-missing",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/xref-truncated.pdf": {
      "get": {
        "summary": "PDF byte-truncated at the start of the xref table. Parsers without xref-recovery will fail.",
        "tags": [
          "health:corrupt-xref-truncated",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    }
  }
}