{
  "openapi": "3.1.0",
  "info": {
    "title": "pdfbin.net",
    "version": "1.0.0",
    "description": "Free CC0 PDF fixtures at stable flat URLs",
    "license": {
      "name": "CC0-1.0",
      "identifier": "CC0-1.0"
    }
  },
  "servers": [
    {
      "url": "https://pdfbin.net"
    }
  ],
  "paths": {
    "/byte-flipped-mid-stream.pdf": {
      "get": {
        "summary": "One byte XOR-flipped mid-content-stream. Likely renders pages with garbage.",
        "tags": [
          "health:corrupt-byte-flipped",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-100-pages.pdf": {
      "get": {
        "summary": "Clean US Letter, 100 portrait pages.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-10mb.pdf": {
      "get": {
        "summary": "Clean US Letter PDF padded to approximately 10 MB via an attached random-bytes file (embedded-file feature).",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-1mb.pdf": {
      "get": {
        "summary": "Clean US Letter PDF padded to approximately 1 MB via an attached random-bytes file (embedded-file feature).",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-25mb.pdf": {
      "get": {
        "summary": "Clean US Letter PDF padded to approximately 25 MB via an attached random-bytes file (embedded-file feature).",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-500-pages.pdf": {
      "get": {
        "summary": "Clean US Letter, 500 portrait pages.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-50mb.pdf": {
      "get": {
        "summary": "Clean US Letter PDF padded to approximately 50 MB via an attached random-bytes file (embedded-file feature).",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-a4-1page.pdf": {
      "get": {
        "summary": "Clean DIN A4 (210x297mm), single portrait page, body text.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-a4-3page.pdf": {
      "get": {
        "summary": "Clean DIN A4, three portrait pages.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-jis-b5-1page.pdf": {
      "get": {
        "summary": "Clean JIS B5 (182x257mm) - not ISO B5. Single portrait page.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-letter-1page.pdf": {
      "get": {
        "summary": "Clean US Letter (8.5x11in), single portrait page, body text.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-letter-3page.pdf": {
      "get": {
        "summary": "Clean US Letter, three portrait pages.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-mixed-orientation.pdf": {
      "get": {
        "summary": "US Letter, alternating portrait and landscape across 5 pages.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/clean-paper-sizes-mixed.pdf": {
      "get": {
        "summary": "Mixed paper sizes: A4, US Letter, and JIS B5 in one document.",
        "tags": [
          "health:valid",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/eof-missing.pdf": {
      "get": {
        "summary": "%%EOF marker stripped. Parsers that key on it cannot find the end.",
        "tags": [
          "health:corrupt-eof-missing",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/header-truncated.pdf": {
      "get": {
        "summary": "First line (%PDF-1.7) removed. Parsers that key on the header fail to detect a PDF.",
        "tags": [
          "health:corrupt-header-truncated",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/object-generation-mismatch.pdf": {
      "get": {
        "summary": "First object's header says generation 1; xref says generation 0.",
        "tags": [
          "health:corrupt-object-generation-mismatch",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/stream-length-mismatch.pdf": {
      "get": {
        "summary": "One stream object's /Length is overstated by 99 bytes.",
        "tags": [
          "health:corrupt-stream-length-mismatch",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/trailer-missing.pdf": {
      "get": {
        "summary": "Trailer dictionary removed; startxref present but points to nothing useful.",
        "tags": [
          "health:corrupt-trailer-missing",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/xref-truncated.pdf": {
      "get": {
        "summary": "PDF byte-truncated at the start of the xref table. Parsers without xref-recovery will fail.",
        "tags": [
          "health:corrupt-xref-truncated",
          "document_shape:blank",
          "provenance:digital-native",
          "spec:PDF-1.7"
        ],
        "responses": {
          "200": {
            "description": "PDF fixture (CC0)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    }
  }
}